[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-decouple = "*"
pytest = "*"
pytest-django = "*"
django-debug-toolbar = "*"
dj-database-url = "*"
gunicorn = "*"
psycopg2-binary = "*"

[dev-packages]
flake8 = "*"
pytest = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.9"
